@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
  --color-fuchsia-500: #d946ef;
  --color-cyan-500: #06b6d4;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

/* Efecto de borde degradado para las Cards */
.glass-card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
  backdrop-blur: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

button {
  cursor: pointer;
}

.glass-card-popular {
  background: linear-gradient(135deg, rgba(217, 70, 239, 0.1) 0%, rgba(6, 182, 212, 0.05) 100%);
  border: 1px solid rgba(217, 70, 239, 0.3);
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, #1e293b 1px, transparent 1px),
    linear-gradient(to bottom, #1e293b 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image: linear-gradient(to bottom, transparent, black, transparent);
}

.glitch-hover:hover {
  animation: glitch 0.3s cubic-bezier(.25, .46, .45, .94) both infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

html {
  scroll-behavior: smooth;
  background-color: #020617;
}