---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import AboutHero from "../components/about/AboutHero.astro";
import AboutStory from "../components/about/AboutStory.astro";
import AboutValues from "../components/about/AboutValues.astro";
import AboutTechStack from "../components/about/AboutTechStack.astro";
import AboutTeam from "../components/about/AboutTeam.astro";
import AboutRoadmap from "../components/about/AboutRoadmap.astro";
import AboutCTA from "../components/about/AboutCTA.astro";
---

<Layout title="Sobre Nosotros | ArkaniaHost">
  <Navbar />
  
  <main>
    <AboutHero />
    <AboutStory />
    <AboutValues />
    <AboutTechStack />
    <AboutTeam />
    <AboutRoadmap />
    <AboutCTA />
  </main>

  <Footer />
</Layout>